<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Addload</title>-->

    <!--<link rel="stylesheet" href="../../../resources/css/jframework.css">-->

<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
    <form>
        <div class="segment col-11">
            <div class="col-5">
                <div class="col-12">
                    <label>Date Applied:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
                <div class="col-12">
                    <label>Are you a AFP personel?</label>
                    <input type="radio" name="choice" id="yes">
                    <label for="yes"> Yes</label>
                    <input type="radio" name="choice" id="no">
                    <label for="no">No</label>
                    <input type="text" class="field-clear field-border-gray" disabled="disabled">
                </div>
                <div class="col-12">
                    <label>Amount Applied:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
                <div class="col-12">
                    <label>Colateral offered:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
                <div class="col-12">
                    <label>Co-maker</label>:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
            </div>
            <div class="col-5 float-right">
                <div class="col-12">
                    <label>Date Prepared:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
                <div class="col-12">
                    <label>Prepared By:</label>
                    <input type="text" class="field-clear field-border-gray">
                </div>
            </div>
        </div>
        <div class="col-1">
            <input type="button" value="Next" class="button button-green">
        </div>
        <div class="col-1">
            <input type="button" value="Save" class="button button-green">
        </div>

    </form>
<!--</div>-->

<!--</body>-->
<!--</html>-->