<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addload</title>

    <link href="../../../resources/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="../../../resources/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="../../../resources/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

</head>
<body>
<div id="form_section">
    <form>
        <div id="customer_info">
            <div id="d_applied">
                <ul>
                    <li><br/><label>Date Applied:</label><br/>
                        <input type="date" name="field1" class="longfield">
                        <br/>
                        <br/>
                    </li>
                    <li>
                        <label>Are you an AFP Personel?</label><br/>
                        <input type="text" name="field3" class="longfield">
                        <br/>
                        <br/>
                    </li>

                    <li>
                        <label>Amount Applied:</label><br/>
                        <input type="number" name="number" class="longfield">
                    </li>
                    <br/>
                    <li>
                        <label>Colateral Offered:</label><br/>
                        <input name="number" class="longfield">
                    </li>
                    <br/>
                    <li>
                        <label>Co-maker:</label><br/>
                        <input type="text" name="number" class="longfield">
                    </li>
                </ul>

            </div>
            <div id="d_prepared">
                <ul>
                    <li>
                        <label><br/>Date Prepared:</label><br/><br/>
                        <input type="date" name="d_prepared" class="longfield">
                        <br/>
                        <br/>
                    </li>
                    <li>
                        <label>Prepared By:</label><br/>
                        <input type="text" name="preparedby" class="longfield">
                    </li>
                </ul>
            </div>
        </div>
        <div id="button">
            <input type="button" value="Next">
            <input type="button" value="Save">
        </div>
    </form>
</div>

</body>
</html>