
    <div class="segment col-11">
            <div class="col-12">
                <label class="medium-text">Name:</label>
                <span class="medium-text">JEremiah</span>
            </div>
            <div class="col-12">
                <label class="medium-text">Birthdate:</label>
                <span class="medium-text">JEremiah</span>
            </div>
            <div class="col-12">
                <label class="medium-text">Complete Home Address:</label>
                <span class="medium-text">JEremiah</span>
            </div>
            <div class="col-12">
                <label class="medium-text">Complete Company Address:</label>
                <span class="medium-text">JEremiah</span>
            </div>
    </div>

    <div class="float-right">
        <a href="#" class="button-link button-green" id="addLoan">Add loan </a>
    </div>

    <div class="col-12">
        <label class="large-text">Pending Loans</label>
        <div class="segment col-11">
            <table>
                <tr>
                    <th><h3>Amount</h3></th>
                    <th><h3>Status</h3></th>
                    <th><h3>Date</h3></th>
                </tr>
                <tr>
                    <td>2000 php </td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php/td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-12">
        <label class="large-text">Ledger</label>
        <div class="segment col-11">
            <table>
                <tr>
                    <th><h3>Amount</h3></th>
                    <th><h3>Status</h3></th>
                    <th><h3>Date</h3></th>
                </tr>
                <tr>
                    <td>2000 php </td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php/td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
                <tr>
                    <td>2000 php</td>
                    <td>Not yet approved</td>
                    <td>Nov. 16, 2017</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="../../../resources/js/link.js"></script>