<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Info</title>

    <link href="../../../resources/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="../../../resources/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="../../../resources/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

</head>
<body>
<div id="form_section">
    <form>
            <div id="customer_info">
               <ul>
                   <li>
                        <p class="form_title">Basic Information</p>
                       <br/>
                   </li>

                   <li>
                         <label>Name:</label>
                         <br/>
                         <br/>
                         <input type="text" name="fname" placeholder="Firstname">
                         <input type="text" name="mname" placeholder="Middlename">
                         <input type="text" name="lname" placeholder="Lastname">
                       <br/>
                       <br/>
                   </li>
                   <li>
                         <label>Complete Home Address:</label>
                         <br/>
                         <input type="text" name="haddress" class="longfield">
                       <br/>
                       <br/>
                   </li>
                    <li>
                       <label>Complete Company Address:</label>
                       <br/>
                       <input type="text" name="caddress" class="longfield">
                       <br/>
                       <br/>
                    </li>
                    <li>
                       <label>Birthdate:</label>
                       <label>Cellphone no.:</label>
                       <br/>
                       <input type="date" name="bdate">
                       <input type="number" name="cnumber">
                    </li>
               </ul>
            </div>
            <div id="button">
                <input type="button" value="Add Loan">
                <input type="button" value="Save">
            </div>
       </form>
</div>

</body>
</html>