<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../../../resources/css/jframework.css">
</head>
<body>
<navbar class="navbar ">
    <ul class="green">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="float-right"><a href="#" >Logout</a></li>
    </ul>
</navbar>

<section class="sidebar">
    <ul>
        <li><a>Home</a></li>
        <li><a>Profile</a></li>
        <li><a>Dashboard</a></li>
    </ul>
</section>

<div>
    s;dfkhasdfjaposdifjpoasdijfdfsaaaaaaaaaaadsas;dfkhasdfjaposdifjpoasdijfdfsaaaaaaaaaaads
</div>
</body>
</html>