.circular-image {
  border-radius: 100px;
}

.rounded-image {
  border-radius: 50px;
}

header,
main,
footer {
  padding-left: 300px;
}

main{
  padding-top: 50px;
  padding-left: 350px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}